@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fredoka:wght@500&family=Kanit:wght@400;600&family=Poppins:wght@500&display=swap');

/* COLOR PANEL */
:root{
  --blue: #0061FF;
  --light-blue: #B4D0E7;
  --dark: black;
  --bordeaux: #61082B;
  --dark-blue: #0D2481;
  --green: #A2D39B;
  --yellow: #FFD830;
  --red: #FF1C1C;
  --dark-red: #D5001F;
  --light-gray: #f5f5f5;
  --light: #ffffff; 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Archive Black', sans-serif;
}

ul,li{
  list-style-type: none;

}

.style-a a{
  color: black;
  text-decoration: none;
}

.style-a a:visited{
  text-decoration: none;
}

.style-a a:hover{
  text-decoration: underline;
  color: black;
}


/* HEADER */
#logo{
  padding-right: 10px;
  padding-top: 20px;
  padding-left: 0px;
}

.menu{
  display: flex;
  flex-wrap: wrap;
}

.menu__item{
  padding: 20px 20px;
}

.btn{
  background-color: var(--blue);
  border: none;
  padding: 10px 20px;
  text-align: center;
  color: var(--light) !important; 
}
/* SECTION TITLE */
.section-title{
  background-color: var(--light-blue)
}

.title{
  padding: 50px 0;
  font-size: 100px;
}

.div-main{
  padding: 30px 0;
}

.down-arrow{
  font-size: 50px;
  padding: 40px 0;
}

.jumbo-image{
  width: 100%;
}

/* SECTION BUSINESS */
.section-business{
  margin: 100px 0px;
}

.div-business{
  margin: 50px 0px;
}

.card{
  display: flex;
  flex-direction: column;
}

.title-business{
  font-size: 60px;
  padding: 50px 0px;
}

.btn-radio{
  padding-right: 20px;
}

.col-business{
  border: 1px solid var(--light-gray);
}

.card-height{
  min-height: 750px;
}

.card__title{
  text-align: center;
  font-size: 15px;
}

.card__section{
  padding: 20px 10px;
}

.section__btn{
  display: block;
  margin: 10px 0px;
}

.padding-item{
  padding: 10px 0px;
}

.card__flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.style-icon{
  color: green;
}

/*SECTION PARTNER DROPBOX*/
.partner__title{
  font-size: 30px;
}

.flex-partner{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-partner{
  background-color: white;
  color: black !important;
  border: 1px solid black;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

/*SECTION DROPBOX BUSINESS*/
.business-dropbox{
  margin: 150px 0px;
}

.business-title{
  font-size: 50px;
}

.padding-business{
  padding: 10px 12px;
}

.image-title{
  font-size: 25px;
}

/*SECTION TITLE E ANCORA*/
.section-title-still_title{
  font-size: 50px;
}

.section-title-still__margin{
  margin: 50px 0px;
}

/*SECTION IMAGE*/
.bg-designit{
  background-color: var(--green);
}

.bg-arizona{
  background-color: var(--bordeaux);
}

.bg-florida{
  background-color: var(--blue);
}

.bg-topps{
  background-color: var(--red);
}

.bg-large-designit{
  background-color: var(--light-gray);
}

.bg-world{
  background-color: var(--dark-red);
}

.bg-hearst{
  background-color: var(--light-blue);
}

.bg-lonely{
  background-color: var(--dark-blue);
}

.bg-clear{
  background-color: var(--yellow);
}

.margin-hr-image{
  margin: 100px 0px;
}

.margin-div-image{
  margin: 70px 0px;
}

.block-image{
  display: inline-block;
  width: 100%;
  height: 100%; 
}

.flex-image{
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-col{
  width: 20vh;
  height: 30vh;
}

.div-second-block{
  height: 60vh;
}

.image-block-central{
  padding: 50px 0px;
}

.bg-col12{
  background-color: var(--light-blue);
  padding: 100px;
}

.title-col12{
  font-size: 50px;
  color: var(--bordeaux);
}

/*SECTION REQUEST*/

.section-request{
  margin: 100px 0px;
}

.col-flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
  padding: 30px 0px;
}

.title-section-request{
  font-size: 35px;
}

.border-bottom{
  border-bottom: 1px solid black;
}

/*FOOTER*/

.bg-footer{
  background-color: var(--dark);
}

.item-footer{
  justify-content: center;
}

.footer-menu{
  padding: 30px 0px;
}

.reset-color{
  color: white !important;
}

.title-menu__item{
  font-size: 30px;
  padding: 10px 0px;
}

.footer-menu__item{
  padding: 10px 0px;
}

.div-footer-translate{ 
  border-top: 1px solid grey;
  margin: 100px 0px;
  padding: 10px 0px;
}

.icon-footer{
  color: grey;
  padding-top: 10px ;
}





.row{
  display: flex;
  flex-wrap: wrap;
}

.row-reverse{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.justify-between{
  justify-content: space-between;
  align-items: center;
}


.justify-space{
  justify-content: space-around;
  align-items: center;
}


.container-medium{
  max-width: 1500px;
  margin: 0 auto;
}

.container-small{
  max-width: 1200px;
  margin: 0 auto;
}

.container-fluid{
  max-width: 100%;
  margin: 0 auto;
}

.col-8{
  flex-basis: calc((100% / 12) * 8);
}

.col-6{
  width: 50%;
}

.col-4{
  flex-basis: calc((100% / 12) * 4);
}

.col-12{
  width: 100%;
}

.col-2{
  flex-basis: calc((100% / 12) * 2);
}

.row > [class^='col']{
  padding: 0 25px;
  
}

.first-block{
  width: 25%;
}
.second-block{
  width: 50%;
}
.third-block{
  width: 25%;
}


/* DEBUG */
.debug .col-2{
  min-height: 200px;
  padding: 20px;
  margin: 0px 20px;
  border: 2px dashed red;
}
