@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fredoka:wght@500&family=Kanit:wght@400;600&family=Poppins:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Archive Black', sans-serif;
}

ul,li{
  list-style-type: none;
  display: inline-block;
}


/* HEADER */
#logo{
  padding-right: 10px;
  padding-top: 20px;
  padding-left: 10px;
}

.contain-menu{
  display: inline-block;
}

.block-header{
  margin: 0 auto;
}

.menu__item{
  padding: 20px 20px;
}

.menu__item a{
  color: black;
  text-decoration: none;
}
.menu__item a:visited{
  text-decoration: none;
}
.menu__item a:hover{
  text-decoration: underline;
  color: black;
}

.btn{
  background-color: #0061FF;
  border: none;
  padding: 10px 20px;
  text-align: center;
  color: white !important; 
}

/* SECTION TITLE */
















.row{
  display: flex;
  flex-wrap: wrap;
}

.justify-between{
  justify-content: space-between;
  align-items: center;
}

.container-medium{
  max-width: 1200px;
  margin: 0 auto;
}

.col-8{
  flex-basis: calc((100% / 12) * 8);
}

.col-4{
  flex-basis: calc((100% / 12) * 4);
} 